/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden {
  display: none;
}
.loader {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}
.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin-bottom: 20px;
}

#load-more {
  display: none;
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#load-more:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 0;
  border: 1px solid transparent;
  margin: 0 auto;
}

.gallery_image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.search {
  display: flex;
  justify-content: center;
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.image-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #333;
  margin-top: 8px;
}
